no service pad
service timestamps debug datetime msec localtime
service timestamps log datetime msec localtime
service password-encryption
service compress-config
!
hostname {{item.hostname}}
!
boot-start-marker
boot system flash bootflash:cat4500es8-universalk9.SPA.03.06.07.E.152-2.E7.bin
boot system flash slot0:cat4500es8-universalk9.SPA.03.06.07.E.152-2.E7.bin
boot-end-marker
!
!
vrf definition mgmtVrf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
!
aaa new-model
!
!
!
aaa session-id common
clock timezone est -5 0
clock summer-time edt recurring
!
!
!
!
!
!
!
!         
spanning-tree mode rapid-pvst
spanning-tree portfast bpduguard default
spanning-tree extend system-id
!         
redundancy
 mode sso 
 main-cpu 
  auto-sync standard
!         
vlan internal allocation policy ascending
!         
vlan {{item.voice_vlan_num}}   
 name {{item.voice_vlan_desc}}
!         
vlan {{item.data_vlan_num}}
 name {{item.data_vlan_desc}}
!
v!lan {{item.mgmt_vlan_num}}
 name {{item.mgmt_vlan_desc}}


!
interface GigabitEthernet1/1
 description enable
 switchport access vlan {{item.data_vlan_num}}
 switchport mode access
 switchport voice vlan {{item.voice_vlan_num}}
 no snmp trap link-status
 spanning-tree portfast



interface GigabitEthernet1/2
 description enable
 switchport access vlan {{item.mgmt_vlan_num}}
 switchport mode access
 no snmp trap link-status
 spanning-tree portfast
